<%- include('./partials/headers.ejs') %>
<h1>
    Login Page
</h1>
<form action="/api/auth/signin" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="John Doe" id="username" name="username"><br>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="******" name="password"><br>
    <button>Login</button>
</form><br>
<ul>
    <li><a href="/register">Register</a></li>
    <li><a href="/">Home</a></li>
</ul>