<%- include('./partials/headers.ejs') %>

<h1>This is a public content.</h1>
<p><ul>
    You can read this message because we allow public access to this page.<br>
    <ul>We are good, arent we?</ul>
</ul></p>
<ul>
    <li><a href="/">Take me to Homepage</a></li>
</ul>